html, body {
  height: 100%;
}

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
 color: white;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
 color: white;
}

p {
	font-size: 1.25em;
}


.blueBackground{
	background-color: #3263b3;
}

.logoImg{
	width: 7vh;
	height: 7vh;
}

.logoImg:hover{
	width: 8vh;
	height: 8vh;
}

.whiteTxt{
	color:white;
}

.welcomeContainer{
	font-size: 2em;
	padding: 3vh;
}

.descContainer{
	font-size: 1.5em;
}

.backlink{
	color: lightgrey;
	font-size: 1.5em;
}

.backlink.txt:hover{
	color: white;
}

.promtContainer{
	padding-top: 5vh;
	font-size: 1.5em;
}

.navBtn:hover{
	font-size: 2em;
}

.header{
	font-size: 3em;

}

.questionCount{
	font-size: 1em;
}

.questionContainer{
	font-size: 2em;
}

.questionTxt{
	font-size: 0.75em;
}


#q2MultiInputLabel{
	color: black; 
	font-size: 1.2em;
	padding-bottom: 10px;
	padding-left: 10px;
}

span {
	color: black;
	font-weight: 500;
}

datalist option {
	width: 10%;
}

.multipleChoice{
	font-size: 0.75em;
	border-radius: 3%;
	color: black; 
}
.multiInput{
	background-color: white;
	
}

.displayOff{
	display: none;
}

.txtInput{
	background-color: white;
	font-size: 1em;
	border-radius: 2.5%;
	width: 3vw;
}

.subElem{
	color: lightgrey;
}

.addElemPrompt:hover{
	color: white;
}

.userInput{
	color: white;
}

.progress-bar{
	position: fixed;
	top:0;
	min-height: 2vh;
	background-color: white;
	width: 100%;
}

.progress-fill{
	background-color: lightgreen;
	width: 0%;
	min-height: 2vh;
}